@page "{id:int?}"
@{
	Layout = "Shared/_Layout.cshtml";
	ViewBag.isThread = true;
}
@model ASPForum.Pages.ThreadModel
@using ASPForum.Post;

@*@section FormHeader{
	<form action="../Reply/Reply" method="post">
		@Html.AntiForgeryToken()
		<input type="hidden" name="BoardID" value="0" />
		<input type="hidden" name="ThreadID" value="@Model.ThreadID" />
		<h3 class="Title">Reply to Thread</h3>
}*@

@{
	var Threads = ThreadManager.GetThreadReplies(0, Convert.ToInt32(RouteData.Values["ID"].ToString()));
	if (Threads.Count == 0) { return; };

	// Deal with first occurrence
	<div class="Post FirstPost">
		<div class="PostInfo">
			<p><a href="#@Threads[0].ThreadID">@Threads[0].ThreadID</a></p>
			<p>Name: @Threads[0].Name</p>
			<p>Other: @Threads[0].Other</p>
		</div>
		<div class="PostContent">
			<p>@Threads[0].Content</p>
		</div>
	</div>

	// Remove first post since it was already handled
	Threads.RemoveAt(0);

	// Continue with rest (if any)
	foreach (var Thread in Threads) {
		<div class="Post" id="@Thread.ThreadID">
			<div class="PostInfo">
				<p><a href="#@Thread.ThreadID">@Thread.ThreadID</a></p>
				<p>Name: @Thread.Name</p>
				<p>Other: @Thread.Other</p>
			</div>
			<div class="PostContent">
				<p>@Thread.Content</p>
			</div>
		</div>
	}
}
